<!DOCTYPE html>
<html ng-app="sushiApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sushi way</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    <script src="~/Scripts/angular/angular.js"></script>
    <script src="~/Scripts/angular/controllers/sushiProductCtrl.js"></script>
    <script src="~/Scripts/angular/directives/cartSummary.js"></script>
    <script src="~/Scripts/angular/filters/productFilter.js"></script>
    <script src="~/Scripts/angular/modules/sushiApp.js"></script>
    <script src="~/Scripts/angular/services/angular-route.js"></script>
    <script src="~/Scripts/angular/services/sushiServise.js"></script>
</head>
<body ng-controller="navCtrl">
    <div class="container" >
        <div class="row">
            <div class="col-xs-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ng-include src="'/scripts/angular/views/CategoryItemsInMenu.html'"></ng-include>
                            @*<ng-include src="/Scripts/angular/views/CategoryItemsInMenu.html"></ng-include>*@
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <a href="#"><img src="@Url.Content("~/Content/Images/Controls/search-icon.png")" id="search-icon" /></a>
                                    <input  ng-model="FindProductName" class="form-control" placeholder="Поиск" ng-change="gotoNameFilter()">
                                </div>
                            </form>
                        </div><!-- /.navbar-collapse -->

                        <a class="navbar-brand" href="#/menu">
                            <div class="logo hidden-md hidden-sm hidden-xs"></div>
                            <div class="logobg hidden-md hidden-sm hidden-xs"></div>
                        </a>

                        <div class="basketbg hidden-md hidden-sm hidden-xs"></div>
                        <a href="#/cart">
                            <div class="basket hidden-md hidden-sm hidden-xs basket-style text-center">
                                <img src="@Url.Content("~/Content/Images/Controls/basket-icon.png")" />
                                <span>Корзина</span><br/>
                                <span ng-show="cartIsEmpty" style="color :#ffffff;font-size:16px;">Корзина пустая</span>
                                <span ng-show="!cartIsEmpty" style="color:#ffffff;font-size:16px;">Заказ на {{cartSum}} грн</span>
                            </div>
                        </a>

                    </div><!-- /.container-fluid -->
                </nav>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <div ng-view></div>
        </div>
        <footer >
            <div class="row orange-line"></div>
            <div class="row footer">
                <a href="#">
                    @*<img src="@Url.Content("~/Content/Images/Controls/btn-facebook-footer.png")" />*@
                    <img src="~/Content/Images/Controls/btn-facebook-footer.png"/>
                </a>
                <a href="#">
                    <img src="~/Content/Images/Controls/btn-twitter-footer.png" />
                </a>
                <a href="#">
                    <img src="~/Content/Images/Controls/btn-google-footer.png" />
                </a>
                <a href="#">
                    <img src="~/Content/Images/Controls/btn-youtube-footer.png" />
                </a>
                <a href="#">
                    <img src="~/Content/Images/Controls/btn-instagram-footer.png" />
                </a>
                <span class="footer-phone">(044) 551-20-98<br />(050) 345-92-00</span>
                <img src="@Url.Content("~/Content/Images/Controls/icon-phone.png")" class="footer-phone" />
                <h4 class="footer-phone text-center">Доставка<br />24/7</h4>
            </div>
            <div class="row copyright">
                <span id="copyright">&copy; @DateTime.Now.Year - Softheme</span>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
