@model IEnumerable<WebApplication1.ShowAllCategories_Result>

    @{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/AdminMasterPage.cshtml";
    }



    <div class="container-fluid " style="padding-top: 0px; padding-left: 30px; padding-right: 30px; background-color: white;padding-bottom: 40px">
        <div class="row" style="padding-top: 40px; padding-left: 30px">
            <div class="row col-sx-12" style="padding-top: 15px">
                <div class="col-xs-6">
                    <h3 class="header">
                        Категории блюд <img style="padding-left: 20px" data-toggle="modal" data-target="#myModal" src=@Url.Content("~/Content/Images/Controls/Admin/btn-new.png")>
                    </h3>
                    
                </div>
                <div class="col-xs-6 clearfix" style="padding-top: 5px; ">
                    <div class="text-right pull-right">
                        @Html.Partial("FindCategory", new Category())
                    </div>
                </div>


            </div>
            <div class="row col-xs-12 ">
                <div class="col-xs-1 funcElements greyColorLnk" onclick="DeleteItemModal()" data-toggle="modal" data-target="#DeleteCategoryModal"><a href="">Удалить</a></div>
                <div class="col-xs-1 funcElements" onclick="ShowAllSelected()" data-toggle="modal" data-target="#ModifyCategoryModal"><a href="">Редактировать</a></div>
                <div class="col-xs-2 funcElements"></div>

                <div class="col-xs-8" style="text-align: right">
                    @{
                    string tmp="0";
                    foreach (var D in Model)
                    {
                    tmp = D.TotalCategories.ToString();
                    }
                    string cnt = tmp;
                    @cnt.ToString();
                    }
                    категорий
                </div>
            </div>
           
            <div class="row col-xs-12" style=" padding-top: 10px ; padding-bottom: 10px; border-bottom-width: 3px; border-bottom-style: solid;  ">
                <div class="col-xs-1">
                    <script type="text/javascript">
                        $(function () {
                            $('input[name="selectAll"]').change(function () {
                                $(".checkboxes").prop('checked', this.checked);
                            });
                        });
                    </script>
                    
                    @*<img src=@Url.Content("~/Content/Images/Controls/Admin/checkbox-off.png")>*@
                    <input id="selectAll" name="selectAll" type="checkbox" hidden />
                    <label for="selectAll"></label>

                </div>
                <div class="col-xs-1" style="text-align: left"><b>Название</b> </div>
                <div class="col-xs-1">
                    <img src=@Url.Content("~/Content/Images/Controls/Admin/icon-sort-down.png")>
                </div>
                <div class="col-xs-5"></div>
                <div class="col-xs-2"><b>Приоритет</b></div>
                <div class="col-xs-2" style="position: absolute; top: 0;right:10px"><b>Количество <br>блюд</br></b></div>
            </div>

            @foreach (var D in Model)
            {
            var allCatID = D.CategoryId.ToString();
            var nameRusCategory = D.NameRus.ToString();
            var categoryPriority = D.Priority.ToString();
            var totalDishes = D.TotalDishes.ToString();
           

            <div class="row col-xs-12" style="padding-top: 10px; padding-bottom: 10px; border-width: 1px; border-bottom-style: solid;border-color: #7F7F7F ">
                <div class="col-xs-1">

                    <input id="@allCatID" type="checkbox" class="checkboxes" name="@nameRusCategory" hidden />
                    <label for="@allCatID"></label>

                </div>

                <div class="col-xs-1" style="text-align: left">@nameRusCategory</div>
                <div class="col-xs-1"></div>
                <div class="col-xs-5"></div>
                <div class="col-xs-2">@categoryPriority</div>
                <div class="col-xs-2">@totalDishes</div>
            </div>
            }


            <div class="row col-xs-12" style="padding-top: 15px">
                <div class="col-xs-1 funcElements greyColorLnk" onclick="DeleteItemModal()" data-toggle="modal" data-target="#DeleteCategoryModal"><a href="">Удалить</a></div>
                <div class="col-xs-1 funcElements greyColorLnk" onclick="ShowAllSelected()" data-toggle="modal" data-target="#ModifyCategoryModal"><a href="">Редактировать</a></div>
                <div class="col-xs-2 funcElements greyColorLnk"></div>
                <div class="col-xs-8"></div>
            </div>
        </div>





        @Html.Partial("AddCategory", new Category())


        @Html.Partial("ModifyCategoryModal", new Category())



       @Html.Partial("DeleteCategoryItem", new Category())
    </div>
