
@{
    ViewBag.Title = "Dishes";
    Layout = "~/Views/Shared/AdminMasterPage.cshtml";
}



<div class="row" style="padding-top: 40px; padding-left: 30px">
    <div class="col-sx-12">
        <p>
            <h3 class="header">
                Блюда <img src=@Url.Content("~/Content/Images/Controls/Admin/btn-new.png")>


                <input type="text" class="span3 search-query" style="margin-left: 500px" placeholder="Поиск">
            </h3>
        </p>
    </div>
    <div class="row col-xs-12">
        <div class="col-xs-2">Скрыть на сайте</div>
        <div class="col-xs-2">Удалить</div>
        <div class="col-xs-2"> </div>

        <div class="col-xs-6" style="text-align: right">

            блюд из
        </div>
    </div>
    <div class="row col-xs-12" style="padding-top: 15px; border-width: 3px; border-bottom-style: solid;">
        <div class="col-xs-1">
            <img src=@Url.Content("~/Content/Images/Controls/Admin/checkbox-off.png")>
        </div>
        <div class="col-xs-1" style="text-align: left">Изображение </div>
        <div class="col-xs-2">Название</div>


        <div class="col-xs-5" style="text-align: right">Приоритет</div>
        <div class="col-xs-1">Категория</div>
        <div class="col-xs-1">Вес</div>
        <div class="col-xs-1">Цена</div>
    </div>

    @*@foreach (var D in ViewBag.AllCategories)
    {

    var tmpStr = D.CategoryId.ToString();
    <div>@tmpStr</div>
    }*@

    @foreach (var T in ViewBag.AllDishes)
    {
        var Name = T.NameRus.ToString();
        var Priority = T.Priority.ToString();
        var Category = T.Category.ToString();
        var Weight = T.Weight.ToString();
        var NameOfWeight = T.Name.ToString();
        var Price = T.Price.ToString();
    var productId = T.ProductId.ToString();
    var srcPict = productId += ".jpeg";
        <div class="row col-xs-12" style="padding-top: 30px; border-width: 1px; border-bottom-style: solid;">
            <div class="col-xs-1">
                <img src=@Url.Content("~/Content/Images/Controls/Admin/checkbox-off.png")>
            </div>
            <div class="col-xs-1" style="text-align: left">
                <img class="t-img" style="width: 70px; height: 50px; " src=@Url.Content("~/Content/Images/Products/"+@srcPict)>
            </div>
            <div class="col-xs-2">@Name</div>


            <div class="col-xs-5" style="text-align: right">@Priority</div>
            <div class="col-xs-1">@Category</div>
            <div class="col-xs-1">@Weight @NameOfWeight</div>
            <div class="col-xs-1">@Price</div>
        </div>
    }
    <div class="row col-xs-12" style="padding-top: 15px">
        <div class="col-xs-2">Скрыть на сайте</div>
        <div class="col-xs-2">Удалить</div>
        <div class="col-xs-2"></div>
        <div class="col-xs-6"></div>
    </div>
</div>