@model IEnumerable<WebApplication1.AllDishes_Result>
@{
    ViewBag.Title = "Dishes";
    Layout = "~/Views/Shared/AdminMasterPage.cshtml";
}


<div class="container-fluid " style="padding-top: 10px; padding-left: 30px; padding-right: 30px; background-color: white;padding-bottom: 40px">
    <div class="row" style="padding-top: 40px; padding-left: 30px">
        <div class="col-sx-12">
            <div class="col-xs-6">
                <h3 class="header">
                    Блюда <a href="@Url.Action("AddNewDish","Admin")"><img style="margin-left: 20px" src=@Url.Content("~/Content/Images/Controls/Admin/btn-new.png")> </a>
                </h3>
                @*<button id="" onclick="ShowAllSelected()" >Show all selected</button>*@
                

            </div>

            <div class="col-xs-6 clearfix" style="padding-top: 5px;">
                <div class="text-right pull-right">

                    @Html.Partial("FindDishes", new Product())

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1 funcElements greyColorLnk hideBtns" data-toggle="modal" data-target="#HideDishModal" onclick="HideDishModal()">
            <a href="">Скрыть на сайте</a>
        </div>
        <div class="col-xs-2 funcElements greyColorLnk hideBtns" data-toggle="modal" data-target="#DeleteDishModal" onclick="DeleteDishModal()">
            <a  href="">Удалить</a>
        </div>

        <div class="col-xs-9 pull-right" style="text-align: right;margin-right:10;">
            <span class="typeTableStyle">
                <a href="@Url.Action("Dishes","Admin")">
                    <img src="@Url.Content("~/Content/Images/Controls/Admin/type-table-active.png")"/>
                </a>
                <a href="@Url.Action("DishesInBlock","Admin")">
                    <img src="@Url.Content("~/Content/Images/Controls/Admin/type-block.png")" />
                </a>
            </span>
            <span id="dishesLength"></span>
            блюд из
            @{
                int tmp = 0;
                foreach (var val in Model)
                {
                    tmp = val.TotalDishes.Value;
                }
                <span>@tmp.ToString()</span>

            }

        </div>
    </div>
    <div class="row col-xs-12" style="padding-top: 10px; padding-bottom: 10px; border-width: 3px; border-bottom-style: solid;">
        <div class="col-xs-1">
            <script type="text/javascript">

                $(document).ready(function () {
                    $(function () {
                        $('input[name="selectAllDishes"]').change(function () {
                            $(".checkboxes").prop('checked', this.checked);
                            if ($('input[name="selectAllDishes"]').is(':checked')) {
                                $('.hideBtns').css("visibility", "visible");

                            }
                            else
                                $('.hideBtns').css("visibility", "hidden");
                        });
                    });

                    $('.hideBtns').css("visibility", "hidden");

                    $(".checkboxes").change(function () {
                        if ($(".checkboxes").filter(":checked").length)
                            $('.hideBtns').css("visibility", "visible");
                        else
                            $('.hideBtns').css("visibility", "hidden");
                    });


                    $(".checkboxes").change(function () {
                        if ($(this).is(':checked')) {
                            $(this).parent().parent().addClass("dishDivChecked");
                        }
                        else if (!$(this).is(':checked')) {
                            $(this).parent().parent().removeClass("dishDivChecked");
                        }

                    });

                    $("#dishesLength").text($(".checkboxes").length);

                });
            </script>

            <input id="selectAllDishes" type="checkbox" name="selectAllDishes" hidden />
            <label for="selectAllDishes"></label>
        </div>
        <div class="col-xs-1" style="text-align: left">
            <b>Изображение</b>
        </div>
        <div class="col-xs-2" style="text-align: center">
            <b>Название</b>
        </div>


        <div class="col-xs-5" style="text-align: right">
            <b>Приоритет</b>
        </div>
        <div class="col-xs-1">
            <b>Категория</b>
        </div>
        <div class="col-xs-1">
            <b>Вес</b>
        </div>
        <div class="col-xs-1">
            <b>Цена</b>
        </div>
    </div>
    @foreach (var T in Model)
    {
        
        var prodId = T.ProductId.ToString();
        var name = T.NameRus.ToString();
        var priority = T.Priority.ToString();
        var category = T.Category.ToString();
        var weight = T.Weight.ToString();
        var nameOfWeight = T.NameOfWeight.ToString();
        var Price = T.Price.ToString();
        var isHidden = T.IsHided;
        var productId = T.ProductId.ToString();
        var sale = T.Sale;
        var srcPict = productId += ".jpeg";

        <div class="row col-xs-12 custom_table-hover_div" style="padding-top: 25px; padding-bottom: 30px; border-width: 1px; border-bottom-style: solid;">
            <div class="col-xs-1">
                <input id="@prodId" type="checkbox" class="checkboxes" name="@name" hidden />
                <label for="@prodId"></label>
            </div>
            <div class="col-xs-1" style="text-align: left">
                <img class="t-img" style="width: 70px; height: 50px;" src=@Url.Content("~/Content/Images/Products/" + @srcPict)>
            </div>
            <div class="col-xs-3" style="padding-left: 50px;">

                @*<a id="@prodId" data-url="@Url.Action("EditDish", "Admin")" style="color: black" onclick="SelectDishId(this)" href="">@name</a>*@

                @*<a type="submit" style="color: black" href="">@name</a>*@
                @Html.ActionLink(name,"EditDish", "Admin", new{productId = prodId} , null)


                @if (sale == true)
                {<b>
                     <p style="color: green; font-size: 11px">Акция</p></b>}
                @if (isHidden == true)
                {<p class="greyDivForHidedDish" style="color: grey; font-size: 11px">Не отображается на сайте</p>
                }


            </div>
            <script type="text/javascript">
                $(".greyDivForHidedDish").parent().parent().css("background-color", "#e8e8e8");
            </script>

        <div class="col-xs-4" style="text-align: right">@priority</div>
        <div class="col-xs-1">@category</div>
        <div class="col-xs-1">@weight @nameOfWeight</div>
        <div class="col-xs-1">@Price</div>
    </div>

    }
    <div class="row col-xs-12" style="padding-top: 15px">
        <div class="col-xs-1 funcElements greyColorLnk hideBtns" data-toggle="modal" data-target="#HideDishModal" onclick="HideDishModal()">
            <a href="">Скрыть на сайте</a>
        </div>
        <div class="col-xs-2 funcElements greyColorLnk hideBtns" data-toggle="modal" data-target="#DeleteDishModal" onclick="DeleteDishModal()">
             <a  href="">Удалить</a>
        </div>
        <div class="col-xs-2"></div>
        <div class="col-xs-6"></div>
    </div>

    @Html.Partial("DeleteDishModal", new Product())
    @Html.Partial("HideDishModal", new Product())
</div>
