@model  WebApplication1.Models.EditOrderModel
@{ 
    ViewBag.Title = "EditOrder";
    Layout = "~/Views/Shared/AdminMasterPage.cshtml";
}

@using (Html.BeginForm("EditOrder", "Admin", FormMethod.Post))
{

    var orderId = Model.OrderId;
    var phoneNumber = Model.PhoneNumber;
    var street = Model.Street;
    var house = Model.House;
    var room = Model.Room;
    var totalSum = Model.TotalSum;
<div class="container-fluid " style=" padding-top: 40px; padding-left: 30px; padding-right: 30px; background-color: white;padding-bottom: 40px">
    <div class="row" style="margin-top: 30px;">
        <div class="col-sm-8">
            <input name="orderId" type="text" id="OrderId" value="@orderId" hidden/>
            <span   style="font-size: 20px; font-weight: bold; padding-left: 0px" >Заказ @orderId</span>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn pull-left" id="btnSaveChanges">Сохранить изменения</button><br />
        </div>
    </div>

    <div class="row">
        <span style="padding-left:15px"><b>Сумма: </b>@totalSum грн.</span>
    </div>
    <div class="row">
        <div class="col-sm-4 borderRight" style="padding-left:20px">
            <span>Заказ</span>
            <a href="#">
                <img data-toggle="modal" data-target="#AddDishToOrderModal" src=@Url.Content("~/Content/Images/Controls/Admin/btn-new.png")>
            </a><br />
            @foreach(var item in Model.selectProductsFromOrder)
            {
                var prodId = item.ProductId;
                var nameRus = item.NameRus;
                var count = item.Count;
                if(item.CategoryId != 3)
                { 
            <div class="dishDiv">
                <input type="number" class="form-control addNewDishTxt" style="width: 70px" min="0" max="999" value="@count"/>
                <span>@nameRus</span>
                <a href="#" class="pull-right imgClose imgCloseShow"><img src="~/Content/Images/Controls/Admin/icon-close.png" /></a>
            </div>
                }
            }
            <span>Дополнительно</span>
            <a href="#">
                @*<img src=@Url.Content("~/Content/Images/Controls/Admin/btn-new.png")>*@
            </a>
            @foreach (var item in Model.selectProductsFromOrder)
            {
                var prodId = item.ProductId;
                var nameRus = item.NameRus;
                var count = item.Count;
                if (item.CategoryId == 3)
                {
                    <div class="dishDiv">
                        <input type="number" class="form-control addNewDishTxt" style="width: 70px" min="0" max="999" value="@count" />
                        <span>@nameRus</span>
                        <a href="#" class="pull-right imgClose imgCloseShow"><img src="~/Content/Images/Controls/Admin/icon-close.png" /></a>
                    </div>
                }
            }




        </div>
        <script type="text/javascript">
            $(function() {
                $('div.dishDiv').hover(function() {
                        $(this).addClass('dishDivStyle');
                        $(this).find('.imgClose').removeClass('imgCloseShow');
                    },
                    function() {
                        $(this).removeClass('dishDivStyle');
                        $(this).find('.imgClose').addClass('imgCloseShow');
                    });
            });
        </script>
        <div class="col-sm-4 borderRight ">
            <span><b>Данные о заказчике</b></span><br />
            <input type="text" name="phoneNumber" class="form-control borderRad0" placeholder="Телефон" value="@phoneNumber"/><br />
            <input type="text" name ="street" class="form-control borderRad0" placeholder="Улица" value="@street"/><br />
            <input type="text" name="house" class="form-control borderRad0" placeholder="Дом" style="width: 128px;" value="@house"/>
            <input type="text" name="room" class="form-control borderRad0" placeholder="Квартира" style="width: 128px;" value="@room" />
        </div>
        <div class="col-sm-4" style="padding: 40px;">
            <select name="newOrderStatus" class="form-control borderRad0" style="max-width: 270px;">
                <option> - </option>
                <option value="1">доставлен</option>
                <option value="2">в ожидании</option>
                <option value="3">в пути</option>
                <option value="4">отменен</option>
                <option value="5">создан</option>
                <option value="6">в выполнеении</option>
            </select>
            @foreach (var item in Model.showAllTimeStatus)
            {
                string time = "";
                string StatusName = "";
                if (item.OrderStatus != 5)
                {

                    StatusName = item.StatusNameRus.ToString();
                    time = item.Time.ToString();
                }

                <span style="margin-left: 30px" align="center">@StatusName</span>
                <br>
                <span style="margin-left: 30px; font-size: 11px" align="center">@time</span>

                if (item.OrderStatus == 1)
                {
                    <div style="margin-left: 55px">
                        <img src=@Url.Content("~/Content/Images/Controls/Admin/order-history-delivered.png") />
                    </div>
                }
                if (item.OrderStatus == 6) // 
                {
                    <div style="margin-left: 55px">
                        <img src=@Url.Content("~/Content/Images/Controls/Admin/order-history-on-table.png") />
                    </div>
                }
                if (item.OrderStatus == 4)
                {
                    <div style="margin-left: 55px">
                        <img src=@Url.Content("~/Content/Images/Controls/Admin/order-history-canceled.png") />
                    </div>
                }
                if (item.OrderStatus == 2)
                {
                    <div style="margin-left: 55px">
                        <img src=@Url.Content("~/Content/Images/Controls/Admin/order-history-received.png") />
                        <p style="margin-left: -15px"> получен</p>
                    </div>
                }
                if (item.OrderStatus == 3)
                {
                    <div style="margin-left: 55px">
                        <img src=@Url.Content("~/Content/Images/Controls/Admin/order-history-on-way.png") />
                        <p style="margin-left: -15px">
                    </div>
                }
            }
        </div>
    </div>
    <div class="row">
        <div  class="col-sm-4 pull-right">
            <button class="btn pull-left" style="background: #808080; color: #ffffff; position:absolute; top: -80px;left:85px" onclick="DeleteOrder()" data-toggle="modal" data-target="#DeleteOrderModal">Удалить</button>
        </div>
    </div>
    @Html.Partial("DeleteOrderModal", new Order())
    @Html.Partial("AddDishToOrderModal", Model.productsInModal)
</div>
}