@model  WebApplication1.Models.EditOrderModel
@{ 
    ViewBag.Title = "EditOrder";
    Layout = "~/Views/Shared/AdminMasterPage.cshtml";
}

@using (Html.BeginForm("EditOrder", "Admin", FormMethod.Post))
{

    var orderId = Model.OrderId;
    var phoneNumber = Model.PhoneNumber;
    var street = Model.Street;
    var house = Model.House;
    var room = Model.Room;
    var totalSum = Model.TotalSum;
<div class="container-fluid " style="padding-top: 40px; padding-left: 30px; padding-right: 30px; background-color: white;padding-bottom: 40px">
    <div class="row" style="margin-top: 30px;">
        <div class="col-sm-8">
            <input type="text" id="OrderId" value="@orderId" hidden/>
            <span   style="font-size: 20px; font-weight: bold;" >Заказ @orderId</span>
        </div>
        <div class="col-sm-2">
            <button class="btn pull-left" id="btnSaveChanges">Сохранить изменения</button><br />
        </div>
    </div>

    <div class="row">
        <span><b>Сумма: </b>@totalSum грн.</span>
    </div>
    <div class="row">
        <div class="col-sm-4 borderRight">
            <span>Заказ</span>
            <a href="#">
                <img data-toggle="modal" data-target="#AddDishToOrderModal" src=@Url.Content("~/Content/Images/Controls/Admin/btn-new.png")>
            </a><br />
            @foreach(var item in Model.selectProductsFromOrder)
            {
                var prodId = item.ProductId;
                var nameRus = item.NameRus;
                var count = item.Count;
                if(item.CategoryId != 3)
                { 
            <div class="dishDiv">
                <input type="number" class="form-control addNewDishTxt" style="width: 70px" min="0" max="999" value="@count"/>
                <span>@nameRus</span>
                <a href="#" class="pull-right imgClose imgCloseShow"><img src="~/Content/Images/Controls/Admin/icon-close.png" /></a>
            </div>
                }
            }
            <span>Дополнительно</span>
            <a href="#">
                <img src=@Url.Content("~/Content/Images/Controls/Admin/btn-new.png")>
            </a>
            @foreach (var item in Model.selectProductsFromOrder)
            {
                var prodId = item.ProductId;
                var nameRus = item.NameRus;
                var count = item.Count;
                if (item.CategoryId == 3)
                {
                    <div class="dishDiv">
                        <input type="number" class="form-control addNewDishTxt" style="width: 70px" min="0" max="999" value="@count" />
                        <span>@nameRus</span>
                        <a href="#" class="pull-right imgClose imgCloseShow"><img src="~/Content/Images/Controls/Admin/icon-close.png" /></a>
                    </div>
                }
            }




        </div>
        <script type="text/javascript">
            $(function() {
                $('div.dishDiv').hover(function() {
                        $(this).addClass('dishDivStyle');
                        $(this).find('.imgClose').removeClass('imgCloseShow');
                    },
                    function() {
                        $(this).removeClass('dishDivStyle');
                        $(this).find('.imgClose').addClass('imgCloseShow');
                    });
            });
        </script>
        <div class="col-sm-4 borderRight ">
            <span><b>Данные о заказчике</b></span><br />
            <input type="text" class="form-control borderRad0" placeholder="Телефон" value="@phoneNumber"/><br />
            <input type="text" class="form-control borderRad0" placeholder="Улица" value="@street"/><br />
            <input type="text" class="form-control borderRad0" placeholder="Дом" style="width: 128px;" value="@house"/>
            <input type="text" class="form-control borderRad0" placeholder="Квартира" style="width: 128px;" value="@room" />
        </div>
        <div class="col-sm-4" style="padding: 40px;">
            <select class="form-control" style="max-width: 270px;">
                <option>Состояние заказа</option>
            </select>
            @foreach (var item in Model.showAllTimeStatus)
            {
                var time = item.Time.ToString();
                var StatusName = item.StatusNameRus.ToString();
                <br>
                @time
                <br>
                @StatusName<br>
                <br>
                if (item.OrderStatus == 1)
                {
                    <div>             
                        <img src=@Url.Content("~/Content/Images/Controls/Admin/order-history-delivered.png") />
                    </div>
                }
                if (item.OrderStatus == 5)// V puti
                {
                    <span>
                        
                        <img src=@Url.Content("~/Content/Images/Controls/Admin/order-history-on-way.png") />
                    </span>
                }
                if (item.OrderStatus == 4)
                {
                    <span>
                        
                        <img src=@Url.Content("~/Content/Images/Controls/Admin/order-history-canceled.png") />

                    </span>
                }
                if (item.OrderStatus == 2)
                {
                    <span>
                       
                        <img src=@Url.Content("~/Content/Images/Controls/Admin/order-history-received.png") />
                        
                    </span>
                }               
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 pull-right">
            <button class="btn pull-left" style="background: #808080; color: #ffffff;" onclick="DeleteOrder()" data-toggle="modal" data-target="#DeleteOrderModal">Удалить</button>
        </div>
    </div>
    @Html.Partial("DeleteOrderModal", new Order())
    @Html.Partial("AddDishToOrderModal", Model.productsInModal)
</div>
}